{% extends 'default.html' %}

{% block content %}
<h1>Gebruikers</h1>
<table class="table table-striped">
    <thead>
        <th>ID</th>
        <th>Naam</th>
        <th>Actie</th>
    </thead>
    <tbody>
        {% for user in gebruikers %}
        <tr>
            <td>{{ user['id'] }}</td>
            <td>{{ user['naam'] }}</td>
            <td>
                <a href="{{ url_for('detail', id=user['id']) }}" class="btn btn-success">Details</a>
                <a href="{{ url_for('delete_user', id=user['id']) }}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}